# OS Files
.DS_Store
Thumbs.db

# Python Cache & Environments
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/

# Editor Files
.vscode/
.idea/
*.swp
*.swo

# Cloudflare & Node
.wrangler/
node_modules/
